body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.appContainer{
  display:flex
}

@media (max-width: 400px) {
  .sideBarContainer {
    width: 100vw;
    height: 100vh;
  }

  .notePageContainer {
    display: none;
  }

  .notePageContainer.showNotePage {
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  .sideBarContainer.hideSidebar {
    display: none;
  }

  .backArrowImg {
    display: inline-block;
  }
}
